<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
</head>
<body>

<h1 style="text-align:center; font-size:16pt;">
  <strong>STANDARD OPERATING PROCEDURE</strong>
</h1>

<h1 style="text-align:center; font-size:14pt; margin-bottom:14pt;">
  {{title}}
</h1>

<div class="doc-control-table">
<table style="width:100%; border-collapse:collapse; margin-bottom:12pt;">
  <colgroup>
    <col style="width:30%;">
    <col style="width:70%;">
  </colgroup>
  <tr><td style="padding:6pt 8pt;"><strong>Institute</strong></td><td style="padding:6pt 8pt;">{{institute}}</td></tr>
  <tr><td style="padding:6pt 8pt;"><strong>Department</strong></td><td style="padding:6pt 8pt;">{{department}}</td></tr>
  {{#if sectionSopNumber}}<tr><td style="padding:6pt 8pt;"><strong>SOP No.</strong></td><td style="padding:6pt 8pt;">{{sopNumber}}</td></tr>{{/if}}
  {{#if sectionRevisionNo}}<tr><td style="padding:6pt 8pt;"><strong>Revision</strong></td><td style="padding:6pt 8pt;">{{revisionNo}}</td></tr>{{/if}}

  {{#if sectionPciDetails}}
  {{#if pciCourseCode}}<tr><td style="padding:6pt 8pt;"><strong>PCI Course Code</strong></td><td style="padding:6pt 8pt;">{{pciCourseCode}}</td></tr>{{/if}}
  {{#if pciExperimentRef}}<tr><td style="padding:6pt 8pt;"><strong>Experiment Ref</strong></td><td style="padding:6pt 8pt;">{{pciExperimentRef}}</td></tr>{{/if}}
  {{#if pciLabCategory}}<tr><td style="padding:6pt 8pt;"><strong>PCI Lab Category</strong></td><td style="padding:6pt 8pt;">{{pciLabCategory}}</td></tr>{{/if}}
  {{/if}}
</table>
</div>

<div class="doc-control-text">
<p><strong>Institute:</strong> {{institute}}</p>
<p><strong>Department:</strong> {{department}}</p>
{{#if sectionSopNumber}}<p><strong>SOP No.:</strong> {{sopNumber}}</p>{{/if}}
{{#if sectionRevisionNo}}<p><strong>Revision:</strong> {{revisionNo}}</p>{{/if}}

{{#if sectionPciDetails}}
{{#if pciCourseCode}}<p><strong>PCI Course Code:</strong> {{pciCourseCode}}</p>{{/if}}
{{#if pciExperimentRef}}<p><strong>Experiment Ref:</strong> {{pciExperimentRef}}</p>{{/if}}
{{#if pciLabCategory}}<p><strong>PCI Lab Category:</strong> {{pciLabCategory}}</p>{{/if}}
{{/if}}
</div>

<hr>

<h2>Objective</h2>
{{{purpose}}}

<h2>Scope</h2>
{{{scope}}}

<h2>Responsibility</h2>
{{{responsibility}}}

<h2>Procedure</h2>
<ol>
  {{{procedure}}}
</ol>

<h2>Safety Precautions</h2>
<ol>
  {{{precautions}}}
</ol>

{{#if sectionPciDocumentation}}
<h2>Documentation &amp; Syllabus Reference</h2>
{{{pciDocumentationClause}}}
{{/if}}

<div class="keep-together approvals-block">
<h2 class="no-counter" style="margin-top:22pt;">Academic Sign-offs</h2>

<table style="width:100%; border-collapse:collapse; margin-top:12pt;">
  <colgroup>
    <col style="width:33.33%;">
    <col style="width:33.33%;">
    <col style="width:33.33%;">
  </colgroup>
  <tr>
    <td style="padding:8pt; vertical-align:top;">
      <div><strong>Prepared By (Lab Assistant)</strong></div>
      <div><strong>Name:</strong> {{preparedBy}}</div>
      <div><strong>Designation:</strong> {{preparedDesig}}</div>
      <div><strong>Date:</strong> {{preparedDate}}</div>
    </td>
    <td style="padding:8pt; vertical-align:top;">
      <div><strong>Verified By (Subject Faculty)</strong></div>
      <div><strong>Name:</strong> {{checkedBy}}</div>
      <div><strong>Designation:</strong> {{checkedDesig}}</div>
      <div><strong>Date:</strong> {{checkedDate}}</div>
    </td>
    <td style="padding:8pt; vertical-align:top;">
      <div><strong>Approved By (Head of Department)</strong></div>
      <div><strong>Name:</strong> {{approvedBy}}</div>
      <div><strong>Designation:</strong> {{approvedDesig}}</div>
      <div><strong>Date:</strong> {{approvedDate}}</div>
    </td>
  </tr>
</table>
</div>

</body>
</html>
