<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
</head>
<body>

<h1 style="text-align:center; font-size:16pt;">
  <strong>STANDARD OPERATING PROCEDURE</strong>
</h1>

<h1 style="text-align:center; font-size:14pt; margin-bottom:14pt;">
  {{title}}
</h1>

<!-- DOCUMENT CONTROL -->
<div class="doc-control-table">
<table style="width:100%; border-collapse:collapse; margin-bottom:12pt;">
  <colgroup>
    <col style="width:30%;">
    <col style="width:70%;">
  </colgroup>
  <tr><td style="padding:6pt 8pt;"><strong>Institute</strong></td><td style="padding:6pt 8pt;">{{institute}}</td></tr>
  <tr><td style="padding:6pt 8pt;"><strong>Department</strong></td><td style="padding:6pt 8pt;">{{department}}</td></tr>

  {{#if sectionSopNumber}}
  <tr><td style="padding:6pt 8pt;"><strong>Document No.</strong></td><td style="padding:6pt 8pt;">{{sopNumber}}</td></tr>
  {{/if}}

  {{#if sectionRevisionNo}}
  <tr><td style="padding:6pt 8pt;"><strong>Revision No.</strong></td><td style="padding:6pt 8pt;">{{revisionNo}}</td></tr>
  {{/if}}

  {{#if sectionEffectiveDate}}
  <tr><td style="padding:6pt 8pt;"><strong>Effective Date</strong></td><td style="padding:6pt 8pt;">{{effectiveDate}}</td></tr>
  {{/if}}

  {{#if sectionRevisionDate}}
  <tr><td style="padding:6pt 8pt;"><strong>Revision Date</strong></td><td style="padding:6pt 8pt;">{{revisionDate}}</td></tr>
  {{/if}}

  {{#if sectionIsoCalibration}}
  {{#if isoReferenceStandard}}
  <tr><td style="padding:6pt 8pt;"><strong>Reference Standards</strong></td><td style="padding:6pt 8pt;">{{isoReferenceStandard}}</td></tr>
  {{/if}}
  {{#if isoToleranceLimit}}
  <tr><td style="padding:6pt 8pt;"><strong>Acceptable Tolerance</strong></td><td style="padding:6pt 8pt;">{{isoToleranceLimit}}</td></tr>
  {{/if}}
  {{/if}}
</table>
</div>

<div class="doc-control-text">
<p><strong>Institute:</strong> {{institute}}</p>
<p><strong>Department:</strong> {{department}}</p>
{{#if sectionSopNumber}}<p><strong>Document No.:</strong> {{sopNumber}}</p>{{/if}}
{{#if sectionRevisionNo}}<p><strong>Revision No.:</strong> {{revisionNo}}</p>{{/if}}

{{#if sectionIsoCalibration}}
{{#if isoReferenceStandard}}<p><strong>Reference Standards:</strong> {{isoReferenceStandard}}</p>{{/if}}
{{#if isoToleranceLimit}}<p><strong>Acceptable Tolerance:</strong> {{isoToleranceLimit}}</p>{{/if}}
{{/if}}
</div>

<hr>

<h2>Purpose</h2>
{{{purpose}}}

<h2>Scope</h2>
{{{scope}}}

<h2>Responsibility</h2>
{{{responsibility}}}

<h2>Procedure</h2>
<ol>
  {{{procedure}}}
</ol>

<h2>Safety Precautions</h2>
<ol>
  {{{precautions}}}
</ol>

{{#if sectionIsoCapa}}
<h2>Corrective &amp; Preventive Action (CAPA)</h2>
{{{isoCapaAction}}}
{{/if}}

{{#if sectionIsoRetention}}
<h2>Records and Documentation</h2>
{{{isoRecordRetentionClause}}}
{{/if}}

{{#if changeHistoryRows}}
<h2>Revision History</h2>
<table style="width:100%; border-collapse:collapse;">
  <colgroup>
    <col style="width:15%;">
    <col style="width:20%;">
    <col style="width:65%;">
  </colgroup>
  <thead>
  <tr><th>Revision</th><th>Date</th><th>Description</th></tr>
  </thead>
  <tbody>
  {{{changeHistoryRows}}}
  </tbody>
</table>
{{/if}}

<div class="keep-together approvals-block">
<h2 class="no-counter" style="margin-top:22pt;">Approvals</h2>

<table style="width:100%; border-collapse:collapse; margin-top:12pt;">
  <colgroup>
    <col style="width:33.33%;">
    <col style="width:33.33%;">
    <col style="width:33.33%;">
  </colgroup>
  <tr>
    <td style="padding:8pt; vertical-align:top;">
      <div><strong>Prepared By</strong></div>
      <div><strong>Name:</strong> {{preparedBy}}</div>
      <div><strong>Designation:</strong> {{preparedDesig}}</div>
      <div><strong>Date:</strong> {{preparedDate}}</div>
    </td>
    <td style="padding:8pt; vertical-align:top;">
      <div><strong>Checked By</strong></div>
      <div><strong>Name:</strong> {{checkedBy}}</div>
      <div><strong>Designation:</strong> {{checkedDesig}}</div>
      <div><strong>Date:</strong> {{checkedDate}}</div>
    </td>
    <td style="padding:8pt; vertical-align:top;">
      <div><strong>Approved By</strong></div>
      <div><strong>Name:</strong> {{approvedBy}}</div>
      <div><strong>Designation:</strong> {{approvedDesig}}</div>
      <div><strong>Date:</strong> {{approvedDate}}</div>
    </td>
  </tr>
</table>
</div>

</body>
</html>
