<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
</head>
<body>

<h1 style="text-align:center; font-size:16pt;">
  <strong>STANDARD OPERATING PROCEDURE</strong>
</h1>

<h1 style="text-align:center; font-size:14pt; margin-bottom:14pt;">
  {{title}}
</h1>

<div class="doc-control-table">
<table style="width:100%; border-collapse:collapse; margin-bottom:12pt;">
  <colgroup>
    <col style="width:30%;">
    <col style="width:70%;">
  </colgroup>
  <tr><td style="padding:6pt 8pt;"><strong>Institution</strong></td><td style="padding:6pt 8pt;">{{institute}}</td></tr>
  <tr><td style="padding:6pt 8pt;"><strong>Department</strong></td><td style="padding:6pt 8pt;">{{department}}</td></tr>
  {{#if sectionRevisionNo}}<tr><td style="padding:6pt 8pt;"><strong>Revision</strong></td><td style="padding:6pt 8pt;">{{revisionNo}}</td></tr>{{/if}}

  {{#if sectionNaacDetails}}
  {{#if naacAssetPage}}<tr><td style="padding:6pt 8pt;"><strong>Stock Register Page</strong></td><td style="padding:6pt 8pt;">{{naacAssetPage}}</td></tr>{{/if}}
  {{#if naacLedgerId}}<tr><td style="padding:6pt 8pt;"><strong>Equipment Ledger ID</strong></td><td style="padding:6pt 8pt;">{{naacLedgerId}}</td></tr>{{/if}}
  {{#if naacLogbookRef}}<tr><td style="padding:6pt 8pt;"><strong>Utilization Logbook Ref</strong></td><td style="padding:6pt 8pt;">{{naacLogbookRef}}</td></tr>{{/if}}
  {{#if naacAmcRef}}<tr><td style="padding:6pt 8pt;"><strong>AMC / Maintenance Ref</strong></td><td style="padding:6pt 8pt;">{{naacAmcRef}}</td></tr>{{/if}}
  {{#if naacCalibrationCert}}<tr><td style="padding:6pt 8pt;"><strong>Calibration Certificate No</strong></td><td style="padding:6pt 8pt;">{{naacCalibrationCert}}</td></tr>{{/if}}
  {{/if}}
</table>
</div>

<div class="doc-control-text">
<p><strong>Institution:</strong> {{institute}}</p>
<p><strong>Department:</strong> {{department}}</p>
{{#if sectionRevisionNo}}<p><strong>Revision:</strong> {{revisionNo}}</p>{{/if}}

{{#if sectionNaacDetails}}
{{#if naacAssetPage}}<p><strong>Stock Register Page:</strong> {{naacAssetPage}}</p>{{/if}}
{{#if naacLedgerId}}<p><strong>Equipment Ledger ID:</strong> {{naacLedgerId}}</p>{{/if}}
{{#if naacLogbookRef}}<p><strong>Utilization Logbook Ref:</strong> {{naacLogbookRef}}</p>{{/if}}
{{#if naacAmcRef}}<p><strong>AMC / Maintenance Ref:</strong> {{naacAmcRef}}</p>{{/if}}
{{#if naacCalibrationCert}}<p><strong>Calibration Certificate No:</strong> {{naacCalibrationCert}}</p>{{/if}}
{{/if}}
</div>

<hr>

<h2>Purpose</h2>
{{{purpose}}}

<h2>Scope</h2>
{{{scope}}}

<h2>Stakeholders and Responsibility</h2>
{{{responsibility}}}

<h2>Procedure</h2>
<ol>
  {{{procedure}}}
</ol>

{{#if sectionNaacReview}}
<h2>Quality Assurance and Monitoring</h2>
{{{naacReviewClause}}}
{{/if}}

{{#if sectionNaacWaste}}
<h2>Eco-Waste &amp; Chemical Disposal Protocol</h2>
{{{naacWasteProtocol}}}
{{/if}}

{{#if sectionApplicability}}
<h2>Applicability</h2>
{{{applicability}}}
{{/if}}

<div class="keep-together approvals-block">
<h2 class="no-counter" style="margin-top:22pt;">Approvals</h2>

<table style="width:100%; border-collapse:collapse; margin-top:12pt;">
  <colgroup>
    <col style="width:33.33%;">
    <col style="width:33.33%;">
    <col style="width:33.33%;">
  </colgroup>
  <tr>
    <td style="padding:8pt; vertical-align:top;">
      <div><strong>Prepared By</strong></div>
      <div><strong>Name:</strong> {{preparedBy}}</div>
      <div><strong>Designation:</strong> {{preparedDesig}}</div>
      <div><strong>Date:</strong> {{preparedDate}}</div>
    </td>
    <td style="padding:8pt; vertical-align:top;">
      <div><strong>Checked By</strong></div>
      <div><strong>Name:</strong> {{checkedBy}}</div>
      <div><strong>Designation:</strong> {{checkedDesig}}</div>
      <div><strong>Date:</strong> {{checkedDate}}</div>
    </td>
    <td style="padding:8pt; vertical-align:top;">
      <div><strong>Approved By</strong></div>
      <div><strong>Name:</strong> {{approvedBy}}</div>
      <div><strong>Designation:</strong> {{approvedDesig}}</div>
      <div><strong>Date:</strong> {{approvedDate}}</div>
    </td>
  </tr>
</table>
</div>

</body>
</html>
